body{
    background-color: rgb(214, 214, 214) ;
}
@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 1728px) {
}
div{
    text-align: center;
}
div h1{ 
    border: 20cap;
    margin: 5cap;
    border-radius: rgb(255, 194, 125);
}